@media (min-width: 410px) {
	.card {
		.card-content-1 {
			.star {
				width: 4.4rem;
				height: 4.4rem;

				img {
					width: 1.5rem;
					height: 1.5rem;
				}
			}

			.title {
				font-size: 2.4rem;
			}

			.text {
				font-size: 1.5rem;
			}

			.rating-box {
				.rating-item {
					min-width: 4.2rem;
					height: 4.2rem;
					font-size: 1.2rem;
				}
			}

			.submit-btn {
				div {
					font-size: 1.4rem;
				}
			}
		}
	}
}
